body{
    background-color: #E7BC04;
    font-family: 'Nanum+gothic',sans-serif;
}

h1{
    
    padding-top: 30px;
    color: aliceblue;
    margin: 0px;
}

a{
    color: black;
}

a:hover { 
    color: black;
}

.button1{
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-radius: 1px;
    width: 150px;
    float: right;
}
