body{
    background-color: #90AFC5;
    font-family: 'Nanum+gothic',sans-serif;
}
.btn:hover {background: #eee;}

.success {color: darkblue;}
.info {color: darkblue;}
.warning {color: darkblue;}
.danger {color: darkblue;}
.default {color:darkblue;}
.defaulty {color: darkblue;}
.default1 {color: darkblue;}
.default2 {color: darkblue ;}

.btn {
  border: solid ; 
  background-color: inherit;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

h1{
    
    padding-top: 30px;
    color: aliceblue;
    margin: 0px;
}

a{
   color:  #771B8C;
    text-decoration: none;
    font-weight: 800;
}

a:hover { 
    color: white;
}

.button1{
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-radius: 150px;
    width: 100px;
    float: right;
}
