body{ 
  background-color:#90AFC5;
  font-family: 'Nanum+gothic',sans-serif;
  text-align: center; 
}
 a{
    color: darkgreen;
}

a:hover { 
    color: white;
}

img{
  width: 55%;
  height: auto;
}
h2{
  color:  #2A3132;
  font-size: 80;
}
.button1{
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-radius: 100px;
    width: 100;
    float: right;
}
