body{ 
  background-color:#90AFC5;
  font-family: 'Nanum+gothic',sans-serif;
  text-align: center; 
}
 a:hover {
  background-color: #336B87;
}
img{
  width: 55%;
  height: auto;
}
h2{
  color:  #2A3132;
  font-size: 80;
}