body{
    background-color: #90AFC5;
    font-family: 'Nanum+gothic',sans-serif;
    text-align: center;
}
h4{
    color:white;
    font-size: 2vw;
    margin: 1px;
    float: none;
}
.logo{
    height: 11vw;
    width: 20vw;
    float: left;
}
h3{
    
    padding-top: 5px;
    color: aliceblue;
    margin: 0px;
}

img{
  width: 55%;
  height: auto;
}

h2{
  color:  darkblue;
  font-size: 80;
    padding-top: 67px;
    padding-right: 19vw;
    margin: 0px;
}
a{
    color:  #771B8C;
    text-decoration: none;
    font-weight: 800;
}

a:hover { 
    color: white;
}

.button1{
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-radius: 150px;
    width: 100px;
    float: right;
}

.oofieDoofie {
    float: ;
    width: 45%;  
    height: auto;
+   margin-top: auto;
    border-radius: 15%;
}

.oofieDoofie img, .oofieDoofie h2 {
    float: ;
    margin-top: auto;
    border-radius: 15%;
    width: 45%;  
    height: auto;
    }
    
#header{
    background: #AA4B41;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
 }
    
.containOof::after {
    content: "";
    display: table;
    clear: both;
}
    

.oofieDoofie {
   float: ;
   display: inline-block;
   width: 45%;  
   height: auto;
   border-radius: 15%;
}

.oofieDoofie img, .oofieDoofie h2 {
   float: ;
   display: inline-block;
   border-radius: 15%;
   width: 45%;  
   height: auto;
}
h5{
    color: darkblue;
    font-size: 32px;
    margin: 0vw;
    padding-top: 6vw; 
}
#contact{
    border-style: solid;
    border-width: 2px;
    margin-top: auto;
    color: white;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 45px; 
    box-sizing: border-box;
    width: 30%;
    text-align: center;
}
