body{
    background-color: #90AFC5;
    font-family: 'Nanum+gothic',sans-serif;
}

h1{
    
    padding-top: 3px;
    color: white;
    margin: 0px;
}

.centered {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1C021A;
  font-size: 38px;
  font-weight: bold;
}

a{
    color: darkgreen;
}

a:hover { 
    color: white;
}

.button1{
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-radius: 150px;
    width: 100px;
    float: right;
}

.img{
    padding-top: 50px;
    padding-right: 1opx
    position: relative;
    width: 1300px;
    height: 250px;
}
