body{
    background-color: #E7BC04;
    font-family: 'Nanum+gothic',sans-serif;
}

h1{
    
padding-top: 40px;
    
color: #000000;
    
margin: 0px;
    
font-size: 40px;
}

.centered {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 40px;
  font-weight: bold;
  width: 70vw;
  height: 30%;
  text-decoration: underline;
  
}

a{
    color: #000000;
    text-decoration: none;
    font-weight: 800;
}
.logo{
    height: 11vw;
    width: 20vw;
    float: left;
}
a:hover { 
    color: white;
}

.button1{
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-radius: 1px;
    width: 150px;
    float: right;
}

.img{
    padding-top: 0px;
    position: relative;
    width: 97.5vw;
    height: 250px;
    opacity: 0.9;
}

.smashhalf {
    padding-top: 10px;
    float: left;
    width: 56vw;
    height: 60vh;
    margin: 10px;
    color: black;
}

.mushalf {
    padding-top: 10px;
    float: right;
    width: 35vw;
    height: 60vh;
    margin: 10px;
    color: black;
}

#explain{
    font-size: 18px;
}
#smash{
    color: darkblue;
    text-decoration: underline;
}
#Solution{
    font-size: 18px;
}
