body{
    background-color: #90AFC5;
    font-family: 'Nanum+gothic',sans-serif;
}

h1{
    
    padding-top: 3px;
    color: #9124b5;
    margin: 0px;
    font-size: 40px;
}
.logo{
    height: 11vw;
    width: 20vw;
}
.centered {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkblue;
  font-size: 41px;
  font-weight: bold;
    width: 70vw;
}

a{
    color:  #771B8C;
    text-decoration: none;
    font-weight: 800;
}

a:hover { 
    color: white;
}

.button1{
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-radius: 150px;
    width: 100px;
    float: right;
}

.img{
    padding-top: 0px;
    position: relative;
    width: 97.5vw;
    height: 250px;
    opacity: 0.8;
}

.smashhalf {
    float: left;
    width: 50vw;
    height: 70vh;
    margin: 10px;
    color: white;
}

.mushalf {
    float: right;
    width: 40vw;
    height: 80vh;
    margin: 10px;
    color: white;
}

#explain{
    font-size: 18px;
}
#smash{
    color: darkblue;
    text-decoration: underline;
}
#solution{
    
}
